body{height: 100%;}


.sidebar_link_highlight
{
background-color: #fff !important;
color: #000 !important;
font-size: 14px !important;
font-weight: bold !important;
}

.sidebar_menu_item:hover{
    background-color: #fff !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.red{color:red;}
.green{
    color : #21FF00;;}
.clear{clear: both;float: none;font-size: 14px;}
#changePasswordStatus{min-height:50px;}

/*------------  jtable. styles  ---------------*/
div.jtable-main-container > div.jtable-title {
    background-color: #11263E;
    padding-left: 10px;
}


div.jtable-main-container > table.jtable > thead {
    background-color: #3D4E5D;
}

div.jtable-main-container > table.jtable {
    border: 1px solid #3D4E5D;
    border-collapse: collapse;
    border-spacing: 0px;
}

div.jtable-main-container > div.jtable-bottom-panel {
    background-color: #3D4E5D;
    color: #FFF;
    min-height: 22.9px;
    font-size: 13px;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #3D4E5D;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-disabled:hover {
    background-color: #A1ADBC;
}


div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
    background-color: #11263E;
    margin: 1px;
    padding: 2px 5px;
    color: #FFF;
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous:hover, div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next:hover {
    background-color: #A1ADBC;
}

div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item {
    background-color: #FFD559;
    color: #0B0000;
    font-weight: bold;
}
div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item.jtable-toolbar-item-hover {
    background-color: #fff;
    padding-bottom: 6px;
    font-weight: bold;
}

div.jtable-main-container > div.jtable-title div.jtable-toolbar span.jtable-toolbar-item.jtable-toolbar-item-add-record:hover span.jtable-toolbar-item-icon {
    background-image: url("../img/add1.png");
}

div.jtable-main-container > div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
    background-color: #fff;
    margin: 1px;
    padding: 2px 5px;
    color: #000;
}

div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change select option,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-page-size-change select,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page select option,
div.jtable-main-container > div.jtable-bottom-panel span.jtable-goto-page select
{
    color:#000;
    font-weight: bold;
}



/*------------  jquery ui styles  ---------------*/
.ui-dialog .ui-dialog-titlebar-close{color:#000;}
.xclosemark{background-image: url("jquery/images/ui-icons_222222_256x240.png");}
.ui-widget-header {background: #11263E;border: 0px solid #e78f08;}

#LoadRecordsButton{float: left;background-color: #ffd559;border:none;font-weight: bold;}
#LoadRecordsButton:hover{background-color: #fff;}

.x-navigation li > a {padding: 10px 10px 10px 15px;}